<%= form_for @company do |f| %>
  <% if @company.errors.any? %>
    <div id="error_explanation" style="color: red;">
      <h2>
        <%= pluralize(@company.errors.count, "error") %> prohibited
        this company from being saved:
      </h2>
      <ul>
        <% @company.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <p>
    <%= f.label :company_name %>
    <%= f.text_field :company_name %>
  </p>
  <p>
    <%= f.label :company_hq %>
    <%= f.text_area :company_hq %>
  </p>
  <p>
    <%= f.label :ceo %>
    <%= f.text_field :ceo %>
  </p>
  <p>
    <%= f.label :number_of_employees %>
    <%= f.text_area :number_of_employees %>
  </p>
  <p>
    <%= f.submit %>
  </p>
  <p>
  	<%= link_to "Back", companies_path %>
  </p>
<% end %>
