<!DOCTYPE html>
<html>
<head>
  <title>List of companies</title>
</head>
<body>
  <h1>List of companies</h1>
  <h3><%= link_to "Add New Company", new_company_path %></h3>
  <table cellspacing='0'>
    <thead>
  		<tr>
  			<th>Sl. No</th>
  			<th>Name</th>
  			<th>CEO</th>
  			<th>Employees</th>
  			<th>Stock Position</th>
  			<th>HeadQuarters</th>
  			<th>Employees List</th>
  			<th>Edit</th>
  			<th>Delete</th>
  		</tr>
  	</thead>
  	<tbody>
  		<% count = 1 %>
  		<% @companies.each do |company| %>
  		<tr>
  			<td><%= count %></td>
  			<td><%= company.company_name %></td>
  			<td><%= company.ceo %></td>
  			<td><%= company.employees.count %></td>
  			<td><%= company.stock_position %></td>
  			<td><%= company.company_hq %></td>
  			<td><% if company.employees.count != 0 %><%= link_to "Employee List", company_employees_path(company) %><% else %>-<% end %></td>
  			<td><%= link_to "Edit", edit_company_path(company) %></td>
  			<td><%= link_to "Delete", company_path(company), method: :delete, data: { confirm: 'Are you sure?' }  %></td>
  			
  		</tr>
  		<% count += 1 %>
  		<% end %>
  	</tbody>
  </table>
  <%= will_paginate @companies %>
</body>
</html>