<!DOCTYPE html>
<html>
<head>
  <title>List of companies</title>
</head>
<body>
  <h1>List of companies</h1>
  <h3><%= link_to "Add New Company", new_company_path %></h3>
  <table>
  	<th>
  		<tr>
  			<td></td>
  			<td>Name</td>
  			<td>CEO</td>
  			<td>Employees</td>
  			<td>Stock Position</td>
  			<td>HeadQuarters</td>
  			<td>Employees List</td>
  			<td>Edit</td>
  			<td>Delete</td>
  		</tr>
  	</th>
  	<tbody>
  		<% count = 1 %>
  		<% @companies.each do |company| %>
  		<tr>
  			<td><%= count %></td>
  			<td><%= company.company_name %></td>
  			<td><%= company.ceo %></td>
  			<td><%= company.number_of_employees %></td>
  			<td><%= company.stock_position %></td>
  			<td><%= company.company_hq %></td>
  			<td><%= link_to "Employee List", company_employees_path(company) %></td>
  			<td><%= link_to "Edit", edit_company_path(company) %></td>
  			<td><%= link_to "Delete", company_path(company), method: :delete, data: { confirm: 'Are you sure?' }  %></td>
  			
  		</tr>
  		<% count += 1 %>
  		<% end %>
  	</tbody>
  </table>
  <%= will_paginate @companies %>
</body>
</html>